/*Geraral Contact Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: bisque;
}

main {
  position: absolute;
  top: 465px;
  width: 100%;
  text-align: center; 
}

main p {
  font-size: 28px;
  line-height: 2;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*smaller screens*/
@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }

  main {
    top: 445px; 
  }
}

/*Phone Styles*/
@media screen and (max-width: 480px) {
  main {
    top: 50%;
  }

  main p {
    font-size: 18px;
    }
  }