/*Geraral Index Page Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: bisque;
}

main {
  position: absolute;
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 10%;
}

main img {
  border-radius: 50%;
  border: 1px solid brown;
}

main p {
  font-size: 20px;
  line-height: 1.5;
  margin-left:15px;
  margin-top: 10px;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*smaller screens*/
@media screen and (max-width: 970px) {
  main {
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
  }
}

/*Phone Styles*/
@media screen and (max-width: 480px) {
  main img {
     width: 200px;
     height: 200px;
  }

  main p {
    font-size: 16px;
    line-height: 1.2;
  }

  main {
    top: 250px;
    margin: 5px;
  }
}
