* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #e4a479;
}
main {
    font-size: 20px;
    position: absolute;
    top: 400px;
    background-color: bisque;
    line-height: 1.5;
    margin: 0 20px;
}

.EduForm, .workProf, .research {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 20px;
}

.form, .edu {
    margin-left: 10px;
}

li{
    margin: 10px;
  }
  
ul{
    margin: 30px 0px;
  }
  .workProf li {
      margin-left:50px;

  }

.research h2 {
    margin-bottom: 30px;
  
}
footer {

    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #e4a479;
}



@media screen and (max-width: 1100px) {
    h2 {
  font-size: 20px;
    }
  }

@media screen and (max-width: 767px) {
    .EduForm, .workProf, .research{
        grid-template-columns: 1fr; 
    }
  }
