/*General Publication Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #e4a479 ;
}

main {
  position: absolute;
  top: 400px;
  font-size: 20px;
  background-color: bisque;
  line-height: 1.5;
  margin: 0 20px;
}

h2 {
  font-size: 26px;
  text-align: center;
}

main a {
  background-color: beige;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(26, 26, 138);
}

main a:visited {
  color: rgb(48, 48, 146);
}

main a:hover {
  color:green;
}

.link {
  margin:15px;
  text-align: center;
}

/*Other Projects Section*/
.article {
  margin: 5%;
}

/*Footer*/
footer {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: #e4a479;
}

/*smaller screens*/
@media screen and (max-width: 767px) {
  main {
    top: 370px;
   }
}

/*Phone styles*/
@media screen and (max-width: 480px) {
  main {
    top: 235px;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 10px;
  }

  main a {
    font-size: 12px;
  }

  h2 {
    font-size: 18px;
  }
   
  footer {
    height: 10px;
  }
}
